@font-face {
    font-family: "NEW ACADEMY";
    src: url(NEWACADEMY.ttf);
}

body, html {
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-image: url("format-logo.png");
}

#spotify {
    margin: 0 auto;
}

#div-spotify {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    text-align: center;
}